<h1>Star Wars Movies</h1>

<div class="row">
  <div class="col-6" *ngFor="let movie of movies">
    <div class="alert alert-success" role="alert">
      <strong>{{movie.title}}</strong>
    </div>
    <p>Director: {{movie.director}}</p>
    <p class="crawl">{{movie.opening_crawl}}</p>
    <p>{{movie.release_date | date:'fullDate' | uppercase}}</p>
  </div>
</div>
<!--https://github.com/sofatutor/exercises-prototype-react/tree/first-prototype-->
<!--
<md-list>
  <md-list-item *ngFor="let movie of movies">
    <h3 md-line>{{movie.title}}</h3>
    <p md-line>Director: {{movie.director}}</p>
    <p md-line class="crawl">{{movie.opening_crawl}}</p>
    <p md-line>{{movie.release_date | date:'fullDate' | uppercase}}</p>
  </md-list-item>
</md-list>
-->