<h1>Star Wars Characters</h1>
<div class="row">
  <div class="col-6" *ngFor="let character of characters">
    <div class="alert alert-success" role="alert">
      <strong>{{character.name}}</strong>
    </div>
    <p>Height: {{character.height}}</p>
    <p>Weight: {{character.weight}}</p>
    <p>Hair: {{character.hair_color}}</p>
    <p>Skin: {{character.skin_color}}</p>
    <p>Eye: {{character.eye_color}}</p>
    <p>Birth: {{character.birth_year}}</p>
    <p>Eye: {{character.gender}}</p>
  </div>
</div>
<!--<md-list>
  <md-list-item *ngFor="let character of characters">
    <h3 md-line>{{character.name}}</h3>
    <p md-line>Height: {{character.height}}</p>
    <p md-line>Weight: {{character.weight}}</p>
    <p md-line>Hair: {{character.hair_color}}</p>
    <p md-line>Skin: {{character.skin_color}}</p>
    <p md-line>Eye: {{character.eye_color}}</p>
    <p md-line>Birth: {{character.birth_year}}</p>
    <p md-line>Eye: {{character.gender}}</p>
  </md-list-item>
</md-list>-->
